body{
    margin: 0; 
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-image:url(./GP.JPG);
}
.box{
    position: relative;
    background-color: aqua;
    border-radius: 80px;
}

.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: forte;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 90px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

/* YouTube icon */
#ytb {
    color: rgb(243, 32, 32);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 52px;
    border: 2px solid transparent;
    font-size: 25px;
    transition: 0.3s;
}    
#ins{
    color: deeppink;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 52px;
    border: 2px solid transparent;
    font-size: 25px;
    transition: 0.3s;
}

/* #ytb:hover{
  border-radius: 50%;
  border-color: #ff1717;
  box-shadow: 0 0 10px #ff4040;
} */